{% extends 'base.html' %}


 {% block body %}

        <div class="col-md-12">

      <div style="font-weight: bold; display: none; color: red; font-size: 16;" id="wait_init"> WAIT!! Process of initialization is going and it can takes about 10-20 sec.</div>

     <div id="info"> </div>

     <div id="map" style="width:1000px; height:700px; border: 2px solid silver"></div>
    </div>

    


        <h3>Legend</h3>
       <table>
       {% for s in structures %}
            <tr>
                <td style="padding: 5px">  {{s.color_repr}}</td>
                <td> {{ s }} </td>
            </tr>
          
       {% endfor %}
        </table>
    
      




<script type="text/javascript">
function init(){
 
     
        var lon = 16569028.246562;
       var lat = -4253744.1751931;
    var zoom = 12;
    var options = {
        div: "map",
        layers: [new OpenLayers.Layer.OSM()],
        projection: new OpenLayers.Projection("EPSG:4326"),
         maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34, 20037508.34, 20037508.34)
    };
    var  map = new OpenLayers.Map(options);




            function setHTML(response) {
            console.log(map);
            OpenLayers.Util.getElement('info').innerHTML = response.responseText;
            //$('#status-message').hide();
            var stylemap_ajax =   new OpenLayers.StyleMap({
                    "default": new OpenLayers.Style({
                        strokeColor: "#ff0000",
                        strokeOpacity: .7,
                        strokeWidth: 1,
                        fillColor: "red",
                        fillOpacity: .7,
                        //label: '${gridcode}',
                        cursor: "pointer"
                    }),
                    "temporary": new OpenLayers.Style({
                        strokeColor: "#ffff33",
                        strokeOpacity: .9,
                        strokeWidth: 2,
                        fillColor: "red",
                        fillOpacity: .3,
                        //label: '${gridcode}',
                        cursor: "pointer"
                    }),
                    "select": new OpenLayers.Style({
                        strokeColor: "#0033ff",
                        strokeOpacity: .7,
                        strokeWidth: 2,
                        fillColor: "#0033ff",
                        fillOpacity: 0,
                        graphicZIndex: 2,
                        //label: '${gridcode}',
                        cursor: "pointer"
                    })
                    }) ;

                        forest_old = new OpenLayers.Layer.Vector("Vegetation", {
                        projection: new OpenLayers.Projection('EPSG:4326'),
                        strategies: [new OpenLayers.Strategy.Fixed()],
                        protocol: new OpenLayers.Protocol.HTTP({

                            url: "/burning-json?time=0",
                            format: new OpenLayers.Format.GeoJSON(),
                            

                        }),
                        styleMap: stylemap_ajax
                       
                    });

                    map.addLayer(forest_old);
                    $('#wait_init').hide();
                    radiation.setVisibility(false)
            }



            var stylemap =   new OpenLayers.StyleMap({
                    "default": new OpenLayers.Style({
                        strokeColor: "#ff0000",
                        strokeOpacity: .7,
                        strokeWidth: 1,
                        fillColor: "green",
                        fillOpacity: .7,
                        //label: '${gridcode}',
                        cursor: "pointer"
                    }),
                    "temporary": new OpenLayers.Style({
                        strokeColor: "#ffff33",
                        strokeOpacity: .9,
                        strokeWidth: 2,
                        fillColor: "red",
                        fillOpacity: .3,
                        //label: '${gridcode}',
                        cursor: "pointer"
                    }),
                    "select": new OpenLayers.Style({
                        strokeColor: "#0033ff",
                        strokeOpacity: .7,
                        strokeWidth: 2,
                        fillColor: "#0033ff",
                        fillOpacity: 0,
                        graphicZIndex: 2,
                        //label: '${gridcode}',
                        cursor: "pointer"
                    })
                    }) ;
      

            var st = new OpenLayers.Style({fillColor : "green",
                                          label: '${gridcode}',
                                          fillOpacity : 0.4});


           radiation = new OpenLayers.Layer.Vector("Information", {
                //isBaseLayer: true,
                projection: new OpenLayers.Projection('EPSG:4326'),
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({

                    url: "/radiation-json",

                    params: {
                        attrs: 'id,name',
                        epsg: '900913'
                    },
                    format: new OpenLayers.Format.GeoJSON(),
                    

                }),
                styleMap: stylemap
               
            });

          


        

     
     

     




       
         
               
        
        function updateinfo() {

           $('#wait_init').show();
           var request = OpenLayers.Request.GET({
                url: "/fire-init/"+radiation.selectedFeatures[0].data['gid'],
                callback: setHTML

            });

             //alert('GRIDCODE:'+forest_old.selectedFeatures[0].data['objectid']);
                
               
        }


         var select_options = {
            hover: false,
            onSelect: updateinfo
          };
         var select = new OpenLayers.Control.SelectFeature(radiation, select_options);
         // select.select(forest_old.features[2]);

            var highlightCtrl = new OpenLayers.Control.SelectFeature(radiation, {
                hover: true,
                highlightOnly: true,
                renderIntent: "temporary"
            });    
         
         //map.addLayer(slope);
         //map.addLayer(burning);
         map.addLayer(radiation);
         map.addControl(highlightCtrl);
         highlightCtrl.activate();

         map.addControl(new OpenLayers.Control.LayerSwitcher({}));

        

       map.events.register("click", map, function (e) {            
        var point = map.getLonLatFromPixel( this.events.getMousePosition(e) )     
            alert('lon:'+point.lon+'  lat:'+point.lat)
        });




   

    //if(!map.getCenter()){
    //    map.zoomToMaxExtent();
    // }

       


 
        var point = new OpenLayers.LonLat(lon, lat);
        map.setCenter(point, zoom);
        map.addControl(select);

        select.activate();

   // map.zoomToExtent([3062373.1007906, 8962088.6911328, 18560133.457509, 9930698.7134278]);
} ;
$(document).ready(function(){ init() 


//// become invisible **************************
         $('#info').on('click', '#firesim', function(e) {
         
            e.preventDefault();
            alert('ss');

            
        });   
        //**************************************************





});
</script>

{% endblock %}

