{% extends 'base.html' %}


 {% block body %}

     <div id="map" style="width:1000px; height:700px; border: 2px solid silver"></div>






<script type="text/javascript">
function init(){
 
     //(148.767047, -35.761276) - (148.902290, -35.573877)
        //var lon = 16818002.756909;
        //var lat = -4004397.0343331;

    var forest = new OpenLayers.Layer.Vector("Информация", {
            //isBaseLayer: true,
            projection: new OpenLayers.Projection('EPSG:4326'),
            strategies: [new OpenLayers.Strategy.Fixed()],
            protocol: new OpenLayers.Protocol.HTTP({

                url: "/cotter",

                params: {
                    attrs: 'id,name',
                    epsg: '900913'
                },
                format: new OpenLayers.Format.GeoJSON()

            }),
           
        });



    var zoom = 3; 
    var options = {
        div: "map",
        layers: [forest],
        projection: new OpenLayers.Projection("EPSG:4326"),
         maxExtent: new OpenLayers.Bounds(148.767047, -35.761276, 148.902290, -35.573877)
    };






    var  map = new OpenLayers.Map(options);




            function setHTML(response) {
            OpenLayers.Util.getElement('info').innerHTML = response.responseText;
            $('#status-message').hide();
            }


      


        


         
        
        

         
         //map.addLayer(forest);









   

    //if(!map.getCenter()){
    //    map.zoomToMaxExtent();
    // }

    //   map.events.register("click", map, function (e) {            
    //    var point = map.getLonLatFromPixel( this.events.getMousePosition(e) )     
     //       console.log(point.lon, point.lat)
     //   });


 
       // var point = new OpenLayers.LonLat(lon, lat);
       // map.setCenter(point, zoom);

   // map.zoomToExtent([3062373.1007906, 8962088.6911328, 18560133.457509, 9930698.7134278]);
} ;
$(document).ready(function(){ init() });
</script>

{% endblock %}

