

<div class="well">
<h3> Information </h3>
<table>
     <tr>
        <td>
            Area:
        </td>
        <td>
            {{ obj.area }}
        </td>
     </tr>    

     <tr>
        <td>
            ID:
        </td>
        <td>
            {{ obj.objectid }}
        </td>
     </tr>    

     <tr>
        <td>
            Perimeter:
        </td>
        <td>
            {{ obj.perimeter }}
        </td>
     </tr>    

     <tr>
        <td>
            Veg:
        </td>
        <td>
            {{ obj.veg }}
        </td>
     </tr>    

     <tr>
        <td>
            Veg id:
        </td>
        <td>
            {{ obj.veg_id }}
        </td>
     </tr>    

     <tr>
        <td>
            Veg sp 1:
        </td>
        <td>
            {{ obj.veg_sp_1 }}
        </td>
     </tr>    

     <tr>
        <td>
            Veg sp 2:
        </td>
        <td>
            {{ obj.veg_sp_2 }}
        </td>
     </tr>    


     <tr>
        <td>
            Veg sp 3:
        </td>
        <td>
            {{ obj.veg_sp_3 }}
        </td>
     </tr>    



     <tr>
        <td>
            Structure:
        </td>
        <td>
            {{ obj.structure }}
        </td>
     </tr>    



    



</table>


</div>
