

<div class="well">
<h3> Information </h3>
<table>
     <tr>
        <td>
            <b>Area:</b>
        </td>
        <td>
            {{ obj.area }}
        </td>
     </tr>    

     <tr>
        <td>
            <b>ID:</b>
        </td>
        <td>
            {{ obj.objectid }}
        </td>
     </tr>    

     <tr>
        <td>
            <b>Perimeter:</b>
        </td>
        <td>
            {{ obj.perimeter }}
        </td>
     </tr>    

     <tr>
        <td>
            <b>Veg:</b>
        </td>
        <td>
            {{ obj.veg }}
        </td>
     </tr>    

     <tr>
        <td>
            <b>Veg id:</b>
        </td>
        <td>
            {{ obj.veg_id }}
        </td>
     </tr>    

     <tr>
        <td>
            <b>Veg sp 1:</b>
        </td>
        <td>
            {{ obj.veg_sp_1 }}
        </td>
     </tr>    

     <tr>
        <td>
            <b>Veg sp 2:</b>
        </td>
        <td>
            {{ obj.veg_sp_2 }}
        </td>
     </tr>    


     <tr>
        <td>
            <b>Veg sp 3:</b>
        </td>
        <td>
            {{ obj.veg_sp_3 }}
        </td>
     </tr>    



     <tr>
        <td>
            <b>Structure:</b>
        </td>
        <td>
            {{ obj.structure }}
        </td>
     </tr>    



    



</table>


</div>
